<main>
  <section>
    <header>
      <h2>{{ title }}</h2>
    </header>
    <div class="example">
      <p>Checkbox Component</p>
      <ng-checkbox cbLabel="{{ieCbLabel}}" (cbChange)="cbRegistered($event)"></ng-checkbox>
    </div>
    <div class="example">
      <p>Loader Component</p>
      <ng-loader
        loaderClass="{{ieLoaderClass}}"
        isActive="{{isLoadActive}}"
        loaderLabel="{{ieLoaderLabel}}"
        loaderDir="{{ieLoaderDirection}}">
      </ng-loader>
    </div>
  </section>
  <section>
    <header class="page-title">
      <h2>Web Components</h2>
    </header>
    <div class="example">
      <p>UI Checkbox Component</p>
      <ui-checkbox cb-label="Awesome Checkbox" cb-label-position="before"></ui-checkbox>
    </div>
    <div class="example">
      <p>UI Loader Component</p>
      <ui-loader
        loader-label="applying..."
        loader-class="ring"
        loader-dir="column">
      </ui-loader>
    </div>
  </section>
</main>
